@page "/factura"
@using OptimusCustomsWebApp.Pages

@if (ServiceContainer.IsBusy)
{
    <div class="d-flex justify-content-center">
        <div class="spinner-border text-primary" style="width:100px; height:100px;" role="status">
            <span class="sr-only"></span>
        </div>
    </div>
}
else
{
    <form class="form-control">
        <div class="row">
            <div class="col">
                <label class="search-label">Desde:</label>
            </div>
            <div class="col">
                <input type="date" class="form-control" @bind="FromDate" />
            </div>
            <div class="col">
                <label class="search-label">Tipo:</label>
            </div>
            <div class="col">
                <select class="form-control" @bind="@SelectedTFacturaId">
                    @foreach (var element in CatalogoTFactura)
                    {
                        <option value="@element.Id">@element.Nombre</option>
                    }
                </select>
            </div>
            <div class="col">
                <label class="search-label">Razòn Social:</label>
            </div>
            <div class="col">
                <select class="form-control" @bind="@SelectedUsuarioId">
                    @foreach (var element in CatalogoUsuarios)
                    {
                        <option value="@element.Id" selected="@(element.Id == Usuario.IdUsuario)">@element.Nombre</option>
                    }
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label class="search-label">Hasta:</label>
            </div>
            <div class="col-md-2">
                <input type="date" class="form-control" @bind="ToDate" />
            </div>
            <div class="col-md-2">
                <label class="search-label">Estado:</label>
            </div>
            <div class="col-md-2">
                <select class="form-control" @bind="@SelectedEFacturaId">
                    @foreach (var element in CatalogoEFactura)
                    {
                        <option value="@element.Id" selected="@(element.Id == SelectedEFacturaId)">@element.Nombre</option>
                    }
                </select>
            </div>
            @*<div class="col">
        <label class="search-label">Factura aprobada:</label>
        </div>
        <div class="col">
        <select class="form-control">
        <option>Todos</option>
        <option>Si</option>
        <option>No</option>
        </select>
        </div>*@
        </div>
        <button type="button" class="btn btn-primary" @onclick="@(async () => await OnSearch())"><span class="oi oi-browser" />Buscar</button>
        <button type="button" class="btn btn-warning"><span class="oi oi-reload" />Limpiar</button>
    </form>
    <p></p>
    <div class="btn-group" role="group">
        <a class="btn btn-primary" href="/factura/create"><span class="oi oi-plus" /> Cargar Factura</a>
    </div>

    <main class="main-container">
        <header class="main-header">
        </header>
        <div class="main-content">
            @if (List != null)
            {
                <div class="row">
                    <table class="table-main table-responsive">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Tipo</th>
                                <th>Estado</th>
                                <th>Razón Social</th>
                                <th>Emisión</th>
                                <th>RFC</th>
                                <th>Serie</th>
                                <th>Folio</th>
                                <th>Total</th>
                                <th>Aprobada</th>
                                <th>Pagada</th>
                                <th>Comentarios</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var factura in List)
                            {
                                <tr style="@SetRowStyle(factura.EstadoFactura)">

                                    <td>@factura.IdFactura</td>
                                    <td>@factura.TipoFactura</td>
                                    <td>@factura.EstadoFactura</td>
                                    <td>@factura.RazonSocial</td>
                                    <td>@factura.FechaEmision.ToString("MM/dd/yyyy")</td>
                                    <td>@factura.RFC</td>
                                    <td>@factura.Serie</td>
                                    <td>@factura.Folio</td>
                                    <td>@factura.Total.ToString("C2")</td>
                                    <td>
                                        <input type="checkbox" checked="@factura.EsAprobado" readonly>
                                    </td>
                                    <td>
                                        <input type="checkbox" checked="@factura.EsPagada" readonly>
                                    </td>
                                    <td>@factura.Comentarios</td>
                                    <td>
                                        <div class="btn-group-sm">
                                            <a class="btn btn-primary btn-sm" title="Editar" href="/factura/@factura.IdFactura"><span class="oi oi-pencil" aria-hidden="true" /></a>
                                            <button class="btn btn-danger btn-sm" title="Borrar" @onclick="() => OpenDeleteDialog(factura)"><span class="oi oi-trash" aria-hidden="true" /></button>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>






                @if (DeleteDialogOpen)
                {
                    <ModalDialog Title="Are you sure?"
                     Text="Do you want to delete this entry?"
                     OnClose="@OnDeleteDialogClose">
                    </ModalDialog>
                }
            }
        </div>
        <footer class="main-footer">
        </footer>
    </main>
}







