@page "/factura/create"
@page "/factura/{IdFactura}"
@page "/factura/redirect"


@if (Service.IsBusy)
{
    <div class="d-flex justify-content-center">
        <div class="spinner-border text-primary" style="width:100px; height:100px;" role="status">
            <span class="sr-only"></span>
        </div>
    </div>
}
else
{
    @if (Model != null)
    {
        <div class="container-fluid">
            <div class="">
                <div class="rounded d-flex justify-content-center">
                    <div class="col-md-8 col-sm-12 shadow-lg p-5 bg-light">
                        <div class="text-center">
                            @if (IdFactura != null && !IdFactura.Equals(""))
                            {
                                <h3 class="text-primary">Editar Factura</h3>
                            }
                            else
                            {
                                <h3 class="text-primary">Cargar Factura</h3>
                            }
                        </div>

                        <div class="p-4">
                            <div class="input-group mb-3">
                                <label class="col-form-label col-md-2">Número de Operación</label>
                                @if (OpModel == null)
                                {
                                    <div class="input-group mb-3">
                                        <input id="numOperacion" type="text" class="@ValidationClass()" placeholder="Número de Operación" @bind="NumOp" />
                                        @DynamicFragment
                                    </div>
                                }
                                else
                                {
                                    <div class="input-group mb-3">
                                        <input id="numOperacion" type="text" class="@ValidationClass()" placeholder="Número de Operación" @bind="OpModel.NumOperacion" />
                                        @DynamicFragment
                                    </div>
                                }
                            </div>
                            <input type="button" class="btn btn-primary text-center mt-2" @onclick="OnValidateOperacion" value="Validar" />
                            <input type="button" class="btn btn-primary text-center mt-2" @onclick="OnCancel" value="Cancelar" />
                        </div>
                        @if (IsOperationValid != null && IsOperationValid.Value)
                        {
                            @if (IdFactura == null || IdFactura.Equals(""))
                            {
                                <div class="p-4">
                                    <div class="input-group mb-3">
                                        <label class="col-form-label col-md-2">Factura (XML) </label>
                                        <InputFile OnChange="@OnInputFileChangeAsync" class="form-control" accept=".xml" />
                                    </div>
                                    <div class="input-group mb-3">
                                        <label class="col-form-label col-md-2">Factura (PDF)</label>
                                        <InputFile OnChange="@OnInputFileChangeAsync" class="form-control" accept=".pdf" />
                                    </div>
                                </div>
                            }
                            @if (FileSelected)
                            {
                                <EditForm Model="@Model">

                                    <div class="p-4">
                                        <div class="input-group mb-3">
                                            <label class="col-form-label col-md-2">Razón social</label>
                                            <InputText class="form-control" placeholder="Razón social" @bind-Value="Model.RazonSocial" />
                                        </div>
                                        <div class="input-group mb-3">
                                            <label class="col-form-label col-md-2">RFC</label>
                                            <InputText class="form-control" placeholder="RFC" @bind-Value="Model.RFC" />
                                        </div>
                                        <div class="input-group mb-3">
                                            <label class="col-form-label col-md-2">Serie</label>
                                            <InputText class="form-control" placeholder="Serie" @bind-Value="Model.Serie" />
                                        </div>
                                        <div class="input-group mb-3">
                                            <label class="col-form-label col-md-2">Folio</label>
                                            <InputText class="form-control" placeholder="Folio" @bind-Value="Model.Folio" />
                                        </div>
                                        <div class="input-group mb-3">
                                            <label class="col-form-label col-md-2">Fecha emisión </label>
                                            <InputDate class="form-control" placeholder="Fecha emisión" @bind-Value="Model.FechaEmision" />
                                        </div>
                                        <div class="input-group mb-3">
                                            <label class="col-form-label col-md-2">Descripción</label>
                                            <InputText class="form-control" placeholder="Descripción" @bind-Value="Model.Descripcion" />
                                        </div>
                                        <div class="input-group mb-3">
                                            <label class="col-form-label col-md-2">Total</label>
                                            <InputNumber class="form-control" placeholder="Total" @bind-Value="Model.Total" />
                                        </div>
                                        <div class="input-group mb-3">
                                            <label class="col-form-label col-md-2">Aprobada</label>
                                            <InputCheckbox class="form-check-input" @bind-Value="Model.EsAprobado" />
                                        </div>
                                        <div class="input-group mb-3">
                                            <label class="col-form-label col-md-2">Pagada</label>
                                            <InputCheckbox class="form-check-input" @bind-Value="Model.EsPagada" />
                                        </div>
                                        <div class="input-group mb-3">
                                            <label class="col-form-label col-md-2">Total</label>
                                            <InputTextArea class="form-control" placeholder="Comentarios" @bind-Value="Model.Comentarios" />
                                        </div>

                                        @if (IdFactura != null && !IdFactura.Equals(""))
                                        {
                                            <button class="btn btn-primary text-center mt-2" @onclick="OnUpdate">Actualizar</button>
                                        }
                                        else
                                        {
                                            <button class="btn btn-primary text-center mt-2" @onclick=" OnCreate">Guardar</button>
                                        }

                                        <button class="btn btn-primary text-center mt-2" @onclick=" OnCancel">Cancelar</button>

                                    </div>
                                </EditForm>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    }
}
