@page "/factura"
@using OptimusCustomsWebApp.Pages

@if (Service.IsBusy)
{
    <div class="spinner"></div>
}
else
{
    <form class="form-control">
        <div class="row">
            <div class="col">
                <label class="search-label">Desde:</label>
            </div>
            <div class="col">
                <input type="date" class="form-control" @bind="FromDate" />
            </div>
            <div class="col">
                <label class="search-label">Tipo:</label>
            </div>
            <div class="col">
                <select class="form-control">
                    <option>Todos</option>
                    <option>Cliente</option>
                    <option>Proveedor</option>
                </select>
            </div>
            <div class="col">
                <label class="search-label">Razòn Social:</label>
            </div>
            <div class="col">
                <select class="form-control">
                    <option>Todos</option>
                    <option>OPTIMUS CUSTOMS SA DE CV</option>
                    <option>RECICLADOS Y METALES PELUCHE S DE RL DE CV</option>
                    <option>JOSE RODRIGUEZ CANTERO</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label class="search-label">Hasta:</label>
            </div>
            <div class="col">
                <input type="date" class="form-control" @bind="ToDate" />
            </div>
            <div class="col">
                <label class="search-label">Estado:</label>
            </div>
            <div class="col">
                <select class="form-control">
                    <option>Todos</option>
                    <option>Normal</option>
                    <option>Por vencer</option>
                    <option>Vencido</option>
                </select>
            </div>
            <div class="col">
                <label class="search-label">Factura aprobada:</label>
            </div>
            <div class="col">
                <select class="form-control">
                    <option>Todos</option>
                    <option>Si</option>
                    <option>No</option>
                </select>
            </div>
        </div>
        <button type="button" class="btn btn-primary" @onclick="@(async () => await OnSearch())"><span class="oi oi-browser" />Buscar</button>
        <button type="button" class="btn btn-warning"><span class="oi oi-reload" />Limpiar</button>
    </form>

    <main class="main-container">
        <header class="main-header">
        </header>
        <div class="main-content">
            @if (List == null)
            {

            }
            else
            {
                <div class="row">
                    <table class="table-main table-responsive">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Tipo</th>
                                <th>Estado</th>
                                <th>Razón Social</th>
                                <th>Emisión</th>
                                <th>RFC</th>
                                <th>Serie</th>
                                <th>Folio</th>
                                <th>Total</th>
                                @*<th class="row-20">Descripción</th>*@
                                <th>Aprobada</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var factura in List)
                            {
                                <tr style="@SetRowStyle(factura.EstadoFactura)">

                                    <td>@factura.IdFactura</td>
                                    <td>@factura.TipoFactura</td>
                                    <td>@factura.EstadoFactura</td>
                                    <td>@factura.RazonSocial</td>
                                    <td>@factura.FechaEmision.ToString("MM/dd/yyyy")</td>
                                    <td>@factura.RFC</td>
                                    <td>@factura.Serie</td>
                                    <td>@factura.Folio</td>
                                    <td>@factura.Total.ToString("C2")</td>
                                    @*<td class="row-20">@factura.Descripcion</td>*@
                                    <td>
                                        <input type="checkbox" checked="@factura.EsAprobado" readonly>
                                    </td>
                                    <td>
                                        <div class="btn-group-sm">
                                            <button class="btn btn-success btn-sm" title="Ver"><span class="oi oi-eye" aria-hidden="true" @onclick="() => GetPdfFile(factura.IdFactura)"/></button>
                                            <a class="btn btn-primary btn-sm" title="Editar" href="/factura/@factura.IdFactura"><span class="oi oi-pencil" aria-hidden="true" /></a>
                                            <button class="btn btn-danger btn-sm" title="Borrar" @onclick="() => OpenDeleteDialog(factura)"><span class="oi oi-trash" aria-hidden="true" /></button>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>






                @if (DeleteDialogOpen)
                {
                    <ModalDialog Title="Are you sure?"
                                 Text="Do you want to delete this entry?"
                                 OnClose="@OnDeleteDialogClose">
                    </ModalDialog>
                }
            }
        </div>
        <footer class="main-footer">
            <div class="btn-group" role="group">
                <a class="btn btn-success" href="/factura/create"><span class="oi oi-plus" /> Cargar Factura</a>
            </div>
        </footer>
    </main>
}







