@page "/operacion/create"
@page "/operacion/{IdOperacion}"

@using Toolbelt.Blazor.FileDropZone

@if (editContext != null)
{

    <div class="container-fluid">
        <div class="">
            <div class="rounded d-flex justify-content-center">
                <div class="col-md-8 col-sm-12 shadow-lg p-5 bg-light">
                    <div class="text-center">
                        <h3 class="text-primary">@(IdOperacion == null ? "Crear Operación" : "Actualizar Operación")</h3>
                    </div>

                    <EditForm EditContext="@editContext">
                        <DataAnnotationsValidator />

                        <div class="p-4">
                            <div class="input-group mb-3">
                                <label class="col-form-label col-md-2">No. Operación</label>
                                <InputText type="text" class="form-control" placeholder="Nombre(s)" @bind-Value="Model.NumOperacion" />
                            </div>

                            @*<div class="input-group mb-3">
                                <label class="col-form-label col-md-2">Tipo de usuario </label>
                                <InputSelect class="form-control" @bind-Value="Model.IdUsuario">
                                    @if (UsersList != null)
                                        @foreach (var user in UsersList)
                                        {
                                            <option value="@user.Id" selected="@(user.Id == Convert.ToInt32(IdUsuario))">@user.Nombre</option>
                                        }
                                </InputSelect>
                            </div>*@

                            <div class="input-group mb-3">
                                <label class="col-form-label col-md-2">Tipo de operación </label>
                                <InputSelect class="form-control" @bind-Value="Model.IdTipoOperacion">
                                    @if (TipoOperacionList != null)
                                        @foreach (var op in TipoOperacionList)
                                        {
                                            <option value="@op.Id" selected="@(op.Id == Model.IdTipoOperacion)">@op.Nombre</option>
                                        }
                                </InputSelect>
                            </div>


                            @if (IdOperacion != null)
                            {
                                <input class="btn btn-primary text-center mt-2" type="button" @onclick="OnUpdate" value="Actualizar" />
                            }
                            else
                            {
                                <input class="btn btn-primary text-center mt-2" type="button" @onclick="OnCreate" value="Registrarse" />
                            }
                            <button class="btn btn-primary text-center mt-2" @onclick="OnCancel">Cancelar</button>

                        </div>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
}


